@use '../abstracts/' as *;

.detail {
  display: flex;
  padding: 3.5rem;
  font-size: 1.4rem;
  background-color: $gray-light-2;
  border-bottom: 1px solid $gray-light-2;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: $color-white;
  @include boxShadow;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 2rem;

  @media only screen and (max-width: $bp-medium) {
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid $gray-light-2;
  border-bottom: 1px solid $gray-light-2;

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.7rem;

    // For Older Browser
    background-image: url(../img/SVG/chevron-thin-right.svg);
    background-size: cover;

    // For newwer Browswer
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: $primary;
      -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
      mask-image: url(../img/SVG/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
      background-image: none;
    }
  }
}

.recommend {
  font-size: 1.3rem;
  color: $gray-dark-3;

  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid $color-white;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

// CTA
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

// Btn
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, $primary-dark, $primary-light);
  color: $color-white;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__hidden {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0;
  }

  &:hover {
    background-image: linear-gradient(to left, $primary-dark, $primary-light);
  }

  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__hidden {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
